:root {
  --heading-colour: #b1d056; 
  --orange: #ffa33e;
  --dark-green: #e0ff59;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: var(--orange);
  padding: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: var(--orange);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navitem a {
  color: var(--dark-green);
  text-decoration: none;
  align-items: center;
}

.home-pic {
  /* margin-right: 0;
  margin-left: auto;
  display: block; */
  /* float: right;
  margin: 10px; */
  width: 40%;
  height: 400px;
}

.grow { 
  transition: all .4s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }

#home-para {
  width: 50%;
  font-family:Cochin, Georgia, Times, 'Times New Roman', serif
}

#container {
  display: flex;
  width: 70%;
  text-align: center;
  margin: auto;
  
}

#text-container p {
  margin: auto;
}

#text-container p {
  font-size: large;
}

#text-container {
  align-self: center;
}

#footer {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: var(--orange);
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  position: fixed;
  margin-bottom: 0;
  width: 100%;
  font-size: small;
}

.footeritem {
  color: black;
  text-decoration: none;
  
}

.filter-bar {
  margin: auto;
  width: 50%;
}

.recipeContext{
  margin-left: 30px;
}
.form-login {
  margin: auto;
}
.submitButton{
  margin-top: 10px;
  border-radius: 12px;
  background-color: #ffa33e;
  border: none;
  padding: 5px;
  font-family: 'Righteous';
}

#sign-out-button {
  margin-left: 10px;
  border-radius: 12px;
  border: none;
  padding: 5px;
  font-family: 'Righteous';
  align-items: center;
}
#inspiration{
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inspiration-container {
  margin: auto;
  height: fit-content;
  /* background-color: rgba(255,255,255,0.5); */
  text-align: center;
  /* border: 2px solid black; */
  /* border-radius: 12px; */
  width: 50%;
}

.vertical-stories-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formContainer{
  background-color: var(--orange);
  width:80%;
  border-radius: 12px;
  display: flex;
  margin: auto;
}
.form{
  align-items: flex-start;
  margin:auto;
  margin-left: 5%;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 156px;

  text-align: left;
}
input {
display: inline-block;
float: left;
}

#login-button{
  margin-left: 10px;
  border-radius: 12px;
  border: none;
  padding: 5px;
  font-family: 'Righteous';
  align-items: center;
  background-color: var(--heading-colour);
}
.login-field {
  
  width: 50%;
}
.strawberry{
  height: auto;
  width: 50%;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
 
  
}
.recipe-form-image{
  width: 50%;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  align-items: flex-end;

}
.recipeFormContainer{
  background-color: #fbfbfb;
  width:80%;
  border-radius: 12px;
  display: flex;
  margin: auto;
}
.recipeForm{
  margin: 10%;
}
.person-form-with-image{
  background-color: rgba(255,255,255,0.7);
  width:40%;
  border-radius: 12px;
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: row;
  border: 2px solid black;
}

.person-form-container {
  display: flex;
  align-items: center;
}

.personform{
  margin-left: 10%;
  margin-right: 10%;
}

.person-form-input-fields {
  margin-bottom: 5%;
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
}

.submitPersonButton{
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  padding: 5px;
  font-family: 'Righteous';
  align-items: center;
  background-color: var(--heading-colour);
}

.signUp-form-image{
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
.delete-button{
  margin-top: 10px;
  border-radius: 12px;
  background-color: #ffa33e;
  border: none;
  padding: 5px;
  font-family: 'Righteous'; 
  margin: 2px;
  width: 5%;
}
.buttons{
  margin-top: 10px;
  border-radius: 12px;
  background-color: #ffa33e;
  border: none;
  padding: 5px;
  font-family: 'Righteous'; 
  margin: 2px;
}
.update-button{
  margin-top: 10px;
  border-radius: 12px;
  background-color: #ffa33e;
  border: none;
  padding: 5px;
  font-family: 'Righteous'; 
  margin: 2px;
  width: 5%;
}
.cancel_button{
  margin-top: 10px;
  border-radius: 12px;
  background-color: #ffa33e;
  border: none;
  padding: 5px;
  font-family: 'Righteous'; 
  margin: 2px;
  width: 5%;
}

.myRecipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  height: 6%;
  cursor: pointer;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  /* display: none; */
}

.next {
  background-color: #04AA6D;
  color: white;
  /* display: none; */
}

.round {
  border-radius: 50%;
}

.story-text {
  font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-size:larger;
}

.stories-item {
  background-color: rgba(255,255,255,0.5);
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stories-img {
  /* height: 100%; */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.buttons_for_stories{
  margin-bottom: 50px;
}
